<ngx-charts-bar-vertical *ngIf="display === 'graph'"
                         [view]="[ chartWidth, chartHeight ]"
                         [results]="results"
                         [gradient]="false"
                         [xAxis]="true"
                         [yAxis]="true"
                         [legend]="true"
                         [showXAxisLabel]="true"
                         [showYAxisLabel]="true"
                         [xAxisLabel]="xAxisLabel"
                         [yAxisLabel]="yAxisLabel"
                         (select)="onSelect($event)"></ngx-charts-bar-vertical>

<div *ngIf="display === 'table'">
  <table>
    <tbody>
    <tr *ngFor="let result of results">
      <td>{{ result.name }}</td>
      <td>{{ result.value }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="uniqueValues.length !== 0">
  <p style="font-weight: bold; font-size: large;">UNIQUE CALL IDS</p>
  <p *ngFor="let result of uniqueValues | slice:0:100">
    {{ result }}
  </p>
</div>

<!--<div>-->
<!--  <p *ngFor="let result of displayValues">-->
<!--    {{ result }}-->
<!--  </p>-->
<!--</div>-->
