<button type="button" (click)="changeType('fields')">Fields</button>
<button type="button" (click)="changeType('where')">Where</button>
<button type="button" (click)="changeType('groupBy')">Group By</button>
<button type="button" (click)="changeType('orderBy')">Order By</button>
<button type="button" (click)="changeType('count')">Count</button>
<button type="button" (click)="changeType('showTotalMatched')">Show Total</button>

<p *ngIf="isLoading">Loading...</p>

<div *ngIf="!isLoading">
  Currently Viewing: {{ type }}
</div>

<div *ngIf="!isLoading">
  <ngx-charts-bar-vertical [view]="[ chartHeight, chartWidth ]"
                           [results]="results"
                           [gradient]="false"
                           [xAxis]="true"
                           [yAxis]="true"
                           [legend]="true"
                           [showXAxisLabel]="true"
                           [showYAxisLabel]="true"
                           [xAxisLabel]="xAxisLabel"
                           [yAxisLabel]="yAxisLabel"
                           (select)="onSelect($event)"></ngx-charts-bar-vertical>
</div>

<div *ngIf="uniqueValues.length !== 0">
  <p style="font-weight: bold; font-size: large;">UNIQUE CALL IDS</p>
  <p *ngFor="let result of uniqueValues | slice:0:100">
    {{ result }}
  </p>
</div>

<!--<div>-->
<!--  <p *ngFor="let result of displayValues">-->
<!--    {{ result }}-->
<!--  </p>-->
<!--</div>-->
